.frame {
  border: thick double;
  border-color: #c5dbff;
  margin-top: 65px;
  margin-left: 180px;
  margin-right: 100px;
}

.container {
  margin-top: 50px;
}
.card-title {
  margin-top: 5px;
  font-size: 20px;
  position: relative;
  top: -20px;
}
.card-text {
  font-size: 25px;
  position: relative;
  top: -15px;
}
.text-muted {
  font-size: 15px;
  margin-top: 0;
  padding-top: 0;
  position: relative;
  top: -20px;
}

.celsius_current_temp {
  font-size: 30px;
}

.temperature_pipe {
  font-size: 20px;
}

.bottom_link {
  margin-left: 200px;
  margin-top: 10px;
}
